*{
    box-sizing: border-box;
    margin: .2rem;
    padding: 0rem;
}
html,body {
    font-size: 62.5%;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}
.navbar img{
    height: 10.0rem;
    width: 10.0rem;
    cursor: pointer;
    rotate: 45deg;
    padding: .9rem;
    margin: .3rem;
    filter: invert(100%);
}
.navbar{
    background-color: rgb(0, 0, 0);
    border: .2rem solid black;
    /*position:sticky*/
}
.navbar ul{
    list-style: none;
    display: flex;
    position:sticky;
}
.navbar ul li{
    text-align: center;
    font-size: 2.0rem;
    padding: 3.1rem 6.6rem;
    margin: .1rem;
}
.navbar ul li a{
    color: aliceblue;
    text-decoration: none;
    height: 1.0rem;
    width: 2.0rem;
}
.navbar input{
    height: 4.6rem;
    background-color: black;
    color: aliceblue;
    width:20.0rem;
    border: .2rem solid white; 
    padding:.3rem;
    margin-left: 4.7rem;
    margin-top: 2.3rem;
}
.navbar ul li a:hover{
    background-color: rgb(183, 197, 197);
    color: black;    
}
.container{
    display: block;
    margin: 1.0rem;
    height: 50.0rem;
    width:98%;
    padding:.5rem;
    box-shadow: 0rem 0rem 1.2rem .6rem grey;
    background-image:url(image/run.jpg);
    background-repeat:no-repeat;
    background-size: contain;
    background-position: 76.0rem center;
}
.club{
    display: inline-block;
    margin:5.0rem;
    margin-left: 10.0rem;
    font-family: 'Paytone One', sans-serif;
    font-size: 10.0rem;
}
.club:hover{
    transform: scale(1.2);
}
.container p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 40.0rem;
}
.features{
    float:left;
    display: block;
    padding: 1.7rem;
    font-size: 3.0rem;
    width:40.0rem;
}
.features li{
    padding: 1.3rem;
}
.imagessec{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:10.0rem 1.0rem;
    padding:.4rem;
}
.imagessec p{
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 24.8rem;
}
.firstsec,.secondsec,.thirdsec{
    border: .2rem solid white;
    height: 30.0rem;
    width: 30%;
    padding: 1.3rem;
    margin: 10.0rem 2.0rem;
    border-radius: 1.0rem;
    box-shadow: 0rem 0rem 1.2rem .6rem grey;
}
.firstsec{
    background-image: url(image/train.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
.secondsec{
    background-image: url(image/eqpment.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
.thirdsec{
    background-image: url(image/open.jpg);
    background-repeat: no-repeat;
    background-size: 36.4rem;
    background-position: center;
}

.secjp{
    margin-top: 3.0rem;
    margin-bottom: 7.6rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.join{
    display: flex;
    flex-direction: column;
    font-size: 5.0rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /*border: 2rem solid white;*/
    width:40%;
    height: 40.0rem;
    margin: 1.0rem;
}
.para{
    margin-top: 7.0rem;
    padding: .5rem;
    text-align: center;
}
.pic{
    width:40%;
    margin: 1.0rem;
    height: 40.0rem;
    /*border: 2rem solid white;*/
    background-image: url(image/muscles.jpg);
    background-repeat: no-repeat;
    background-size:contain;

}
.formbtn{
    text-decoration: none;
    display: block;
    margin-top:3.3rem;
    margin-left:17.0rem ;
    padding: .5rem;
    background-color: aliceblue;
    color: black;
    border: .2rem solid black;
    border-radius: .4rem;
    width:14.0rem;
    height: 4.0rem;
    font-size: 2.3rem;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.formbtn:hover{
    background-color:black;
    color:aliceblue;
    border: .2rem solid aliceblue;
    border-radius: .4rem;
}
footer{
    text-align: center;
    border:.2rem solid aliceblue ;
}
